{{#draggable-object-target action="onDropTask"}}
  <h2 class="column-title">in status '{{status}}'</h2>
  <ul class="column-list">
    {{#each task in filteredList}}
      <li>{{render 'components/task-column/task' task}}</li>
    {{/each}}
  </ul>
{{/draggable-object-target}}
