{{#draggable-object-target action="onDropTask"}}
  <h1>Tasks in status '{{status}}'</h1>
  <ul>
    {{#each task in filteredList}}
      <li>{{render 'components/task-column/task' task}}</li>
    {{/each}}
  </ul>
{{/draggable-object-target}}
