<form>
    <label>Title: {{input value=model.title}}</label><br />
    <label for="new-task-description">Description:</label>
    {{textarea value=model.description id='new-task-description'}}<br />
    <lablel for="new-task-status">Status:</lablel>
    {{view 'select' content=taskStatuses selection=model.status}}
</form>
